<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@800&family=Comforter&family=Lobster&family=Merriweather:wght@700;900&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Playfair+Display:wght@900&family=Poppins&family=Port+Lligat+Sans&family=Ramaraja&family=Redressed&display=swap');
  </style>
<mat-toolbar style="z-index: 10;">
<img src=".\assets\images\optimize.png"   class="rocket">
  <span style="font-family: 'Merriweather', serif;">LsiSql</span>
  <span class="example-spacer"></span>
  <button mat-button>
    <span style="font-family: 'Merriweather', serif;">About Us</span>
  </button>
  <button mat-button>
    <span style="font-family: 'Merriweather', serif;">Contact Us</span>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- <mat-form-field style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);height: 50vh;width: 40vw;">
  <mat-label>Text Editor</mat-label>
  <textarea matInput (keyup)="addLineNumbers()"></textarea>
</mat-form-field> -->
