table {
    width: 100%;
  }

  .addQuery{
    position: absolute;
    top: -11.5vh;
    left: 0;
    height: 8vh;
    width: 30vw;
    border-radius: 15px;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    text-align: left;
    font-family: 'Merriweather', serif !important;
    padding-left: 3vw;
    animation: 1s ease-out 1s  normal forwards running waggle;
    

  }

  .addQuery:hover .img{
    display: none;
  }
  .addQuery:hover .img1{
    display: inline-block !important;
  }

  .addQuery:hover{
    color: #5e72e4 !important;

  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .title2{
    font-size: 1.1rem !important;
font-weight: 500 !important;
line-height: 1.2 !important;

font-family: 'Merriweather', serif !important;
}
  td, th {
    width: 25%;
  }
.container{
  width: 100%;
  height: 91%;
  overflow: hidden;
  background-color: #f7fafc;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px;
  display: none;
}
::ng-deep.mat-form-field-flex {

  border: 1px #5e72e4 solid;
  border-radius: 10px;
  padding: 0 10px;
}

  .mat-elevation-z8{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    // padding: 10vh 0;
    // padding: 3vw 4vh;
    border-radius: 20px;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.th1{
  background-color: #f6f6f6 !important;
  color: #212529 !important;
  border-bottom: 1px solid #e9e9e9 !important;
    font-weight: 650;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.td1{
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  padding: 2vh;
}
@keyframes waggle{
0% {
  transform: none;
}
50% {
  transform: rotateZ(-20deg) scale(1.2);
}
60% {
  transform: rotateZ(25deg) scale(1.2);
}
67.5% {
  transform: rotateZ(-15deg) scale(1.2);
}
75% {
  transform: rotateZ(15deg) scale(1.2);
}
82.5% {
  transform: rotateZ(-12deg) scale(1.2);
}
85% {
  transform: rotateZ(0) scale(1.2);
}
100% {
  transform: rotateZ(0) scale(1);
}
}
