<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@800&family=Comforter&family=Lobster&family=Merriweather:wght@700;900&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Playfair+Display:wght@900&family=Poppins&family=Port+Lligat+Sans&family=Raleway:wght@100&family=Ramaraja&family=Redressed&display=swap');
</style>

<div class="container" >
<h1 class="title">Your Database, Just Faster</h1>
<h4 class="title2">SQL query optimization and database observability, powered by AI</h4>
<br/>
<br/>
<button [routerLink]="['/accueil']" class="button" mat-raised-button>Start Optimizing</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="text">
    Made with
    <button class="fav" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    for anyone with a database
</p>
<img src=".\assets\images\rocket.png"   class="rocket1">
<img src=".\assets\images\rocket.png"   class="rocket2">
<img src=".\assets\images\rocket.png"   class="rocket3">
<img src=".\assets\images\rocket.png"   class="rocket4">
<img src=".\assets\images\bolt.png"   class="bolt1">
<img src=".\assets\images\bolt.png"   class="bolt2">
</div>
