<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@800&family=Comforter&family=Lobster&family=Merriweather:wght@700;900&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Playfair+Display:wght@900&family=Poppins&family=Port+Lligat+Sans&family=Raleway:wght@100&family=Ramaraja&family=Redressed&display=swap');
</style>

<div class="container" >
    <h2 class="title">Hi, what would you like to do today ?</h2>
    <br/>
    <br/>
    <button  (click)="openDialog()" mat-raised-button  class="button">
        <br/>
        <img src=".\assets\images\query.svg"   style="height: 5rem;">
        <br/>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <p class="text">
            Optimize a single SQL query
        </p>
    </button>
</div>

